<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/LoginLayout.css" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary sticky-top flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"><i class="fa fa-home"></i> 工数管理システム</a>
    </nav>
    <div>
        @RenderBody()
    </div>

    <footer class="footer">
        <p>2019-Copyright © サンデンシステムエンジニアリング株式 All Rights Reserved.</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
