@model ProjectTeamNET.Models.Response.InitDataModel

<!-- Modal -->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="label1">テーマ追加</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>テーマNo</label>
                                <input type="text" class="form-control form-control-sm" id="slThemeNo">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>テーマ名</label>
                                <input type="text" class="form-control form-control-sm" id="slThemeName">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>担当部門</label>
                                <select class="form-control form-control-sm" id="comboxGroup">
                                    <option value="">部門選択...</option>
                                    @foreach (var item in Model.Groups)
                                    {
                                        <option value="@item.Accounting_group_code">@item.Accounting_group_code [@item.Accounting_group_name]</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>売上科目</label>  
                                <select class="form-control form-control-sm" id="comboxObject">
                                    <option value="">売上科目...</option>
                                    @foreach (var item in Model.Objects)
                                    {
                                        <option value="@item.Sales_object_code">@item.Sales_object_code [@item.Sales_object_name]</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>売上状況</label>
                                <div id="checkboxes">
                                    <div class="form-check form-check-inline">
                                        <input data-value="未売上" name="rd1" class="form-check-input" type="radio"  id="cb1" value="option2" checked>
                                        <label class="form-check-label">未売上</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input data-value="売上済" name="rd1" class="form-check-input" type="radio" id="cb2" value="option3">
                                        <label class="form-check-label">売上済</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input data-value="全て" name="rd1" class="form-check-input"  type="radio" id="cb3" value="option1"  >
                                        <label class="form-check-label">全て</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-primary mt-2 mb-2" onclick="searchTheme()">検索</button>
                    </div>
                    <div class="row">
                        <div class="table-responsive" style="height:300px">
                            <table class="table table-striped table-sm sc">
                                <thead class="table table-fixed thead-light">
                                    <tr>
                                        <th></th>
                                        <th>テーマNo</th>
                                        <th>テーマ名</th>
                                        <th>売上状況</th>
                                    </tr>
                                </thead>

                                <tbody id="slThemeBody">      
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                <button type="button" class="btn btn-primary" onclick="choiceTheme()">追加</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<!-- Modal -->
<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="label1">テーマ変更</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row mb-2">
                    <div class="col-md-6 input-group">
                        <input id="modalThemeNo" type="text" class="form-control form-control-sm col-md-4" value="" readonly>
                        <input id="modalThemeName" type="text" class="form-control form-control-sm col-md-8" value="" readonly>
                    </div>
                    <div class="col-md-6 input-group">
                        <input id="modalWC" type="text" class="form-control form-control-sm col-md-12" value="" readonly>
                        <input id="modalDetail" type="text" class="form-control form-control-sm col-md-12" value="" readonly="">
                    </div>
                </div>
                <div class="row d-flex justify-content-center mb-2">
                    <span><i class="fas fa-arrow-down"></i></span>
                </div>
                <div class="row">
                    <div class="col-md-6 input-group">
                        <input id="themeSelected2" type="text" class="form-control form-control-sm" placeholder="テーマ選択..." aria-label="..." aria-describedby="button-addon2" readonly>
                        <div class="input-group-append">
                            <button type="button" id="button-addon2" class="btn btn-sm btn-outline-secondary" onclick="loadSelectTheme()"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                    <div class="col-md-3 input-group pr-2">
                        <select id="workContentCode2" class="form-control form-control-sm">
                        </select>
                    </div>
                    <div class="col-md-3 input-group pr-2">
                        <input type="text" class="form-control form-control-sm" id="detailCode2" placeholder="内容詳細..." aria-label="..." aria-describedby="button-addon2" onchange="validDetailCode('detailCode2')">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                <button type="button" class="btn btn-primary" id="btnChange" >変更</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
